
  <h5 class="page-header">Add User</h5>
      <div >
        <form id="form" class="form-inline" action="http://{{.Domain}}/user" method="get">
          <div class="form-group">
            <button type="button" class="btn btn-default">Register</button>
          </div>
        </form>  
      </div>
      <br>
      <h5 class="sub-header">Line</h5>
      <div class="table-responsive">
        <table id="lineTable"class="table table-striped">
          <thead>
            <tr>
              <th>UID</th>
              <th>Name</th>
              <th>Password</th>
              <th>Permission</th>
              <th>Created</th>
            </tr>
          </thead>
          <tbody>

          </tbody>
        </table>
    </div>
  
<script>

  $(document).ready(function(){
    $("form button").click(function(){
    var $parenobj = $(this).parents("form"); 
    var uarp = $parenobj.attr("action");
    var param = $parenobj.serialize();

    $.get(uarp,param,function(xmldata,status){
        var strHTML ;

        $(xmldata).find("userinfo").each(function(){
          strHTML += "<tr>";
          var uid = $(this).find("Uid").text();

            strHTML += "<td>" + uid +"</td>";
            strHTML += "<td>" + $(this).find("Username").text() +"</td>";
            strHTML += "<td>" +"<input type=\"text\"  name=\"password\" data-feid=\"Password\" data-msgtype=\"modify\" data-uid="+uid+ 
            " autocomplete=off class=\"form-control\" value="+ $(this).find("Password").text()+"></td>";

            strHTML += "<td>" +"<input type=\"text\"  name=\"permission\" data-feid=\"Permission\" data-msgtype=\"modify\" data-uid="+uid+  
            " autocomplete=off class=\"form-control\" value="+ $(this).find("Permission").text()+"></td>";
            strHTML += "<td>" + $(this).find("Created").text() +"</td>";
            strHTML += "</tr>";
        })
          $("table tbody").html(strHTML);
      },
      "xml");

    return false;
    });
  });

  $(document).ready(function(){
    $("#lineTable").on("change","input",function(){
      //alert( $(this).data("id"))
      // personObj=new Object();
      // personObj.uid=$(this).data("id");
      // personObj.username=$(this).attr("password");
      // personObj.password=$(this).attr("permission");

      var param = $.param($(this));
      param += "&uid=" + $(this).data("uid");
      param += "&msgtype=" + $(this).data("msgtype");
      param += "&feid="+$(this).data("feid");
      var urlp = "http://{{.Domain}}/user";

      $.post(urlp,param,function(data,status){
          alert("数据：" + data + "\n状态：" + status);
        });
      return false;

    });
  });

</script>
